<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="csrf-token" content="<{:token()}>">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuimini/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户帐号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="s_account" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="s_username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-primary" id="search"><i class="layui-icon"></i> 搜 索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加用户 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            {{# if(d.account != 'admin'){ }}
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="reload">重置密码</a>
            {{# } }}
        </script>

        <!----------------- 添加用户弹出层start ----------------->
        <form class="layui-form layuimini-form" id="addform" lay-filter="addform" style="display: none;margin: 10px 70px 0 5px;">
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">帐号</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="account" name="account" placeholder="请输入帐号" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">密码</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="password" id="password" name="password" placeholder="请输入密码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">用户名</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="username" name="username" placeholder="请输入用户名" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">性别</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="radio" name="sex" value="0" title="男" checked="" lay-filter="sex">
                    <input type="radio" name="sex" value="1" title="女" lay-filter="sex">
                    <input type="hidden" id="sex" name="sex_hidden" value="0" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">手机号码</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="phone" name="phone"  placeholder="请输入手机号码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">电子邮件</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="email" name="email"  placeholder="请输入电子邮件" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">QQ号码</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="qq" name="qq"  placeholder="请输入QQ号码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">角色</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <select id="rolename" name="rolename" lay-filter="role">
                        <option value="0">请选择</option>
                    </select>
                    <input type="hidden" id="role" name="role" value="0" />
                </div>
            </div>
        </form>
        <!----------------- 添加用户弹出层end ----------------->

        <!----------------- 修改用户弹出层start ----------------->
        <form class="layui-form layuimini-form" id="editform" lay-filter="editform" style="display: none;margin: 10px 70px 0 5px;">
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">帐号</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="account_edit" name="account_edit" readonly="readonly" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">用户名</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="username_edit" name="username_edit" placeholder="请输入用户名" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">性别</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="radio" name="sex" value="0" title="男" checked="" lay-filter="sex">
                    <input type="radio" name="sex" value="1" title="女" lay-filter="sex">
                    <input type="hidden" id="sex_edit" name="sex_hidden" value="0" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">手机号码</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="phone_edit" name="phone_edit"  placeholder="请输入手机号码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">电子邮件</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="email_edit" name="email_edit"  placeholder="请输入电子邮件" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px !important;">QQ号码</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <input type="text" id="qq_edit" name="qq_edit"  placeholder="请输入QQ号码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required" style="width: 80px !important;">角色</label>
                <div class="layui-input-block" style="margin-left: 110px !important">
                    <select id="rolename_edit" name="rolename_edit" lay-filter="role">
                        <option value="0">请选择</option>
                    </select>
                    <input type="hidden" id="role_edit" name="role_edit" value="0" />
                </div>
            </div>
        </form>
        <!----------------- 添加用户弹出层end ----------------->
    </div>
</div>
<script src="__STATIC__/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'form', 'table', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;
        var batch_delete = [];

        table.render({
            elem: '#currentTableId',
            url: '<{:url("userlist")}>',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "message": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'account', width: 80, title: '帐号'},
                {field: 'username', width: 80, title: '用户名'},
                {field: 'sex', width: 80, title: '性别', templet: function(d) {
                    if(d.sex == 0) {
                        return '男';
                    }else {
                        return '女';
                    }
                }},
                {field: 'phone', width: 120, title: '手机号码'},
                {field: 'email', width: 120, title: '电子邮件'},
                {field: 'qq', width: 120, title: 'QQ号码'},
                {field: 'role_name', width: 120, title: '角色权限'},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });

        //角色下拉框
        $.ajax({
            url: '<{:url("rolelist")}>',
            type: 'get',
            success: function(res) {
                var datalist = res.data;
                var htmls = '';
                for(var x in datalist){
                    htmls += '<option value = "' + datalist[x].id + '">' + datalist[x].role_name + '</option>'
                }
                $('#rolename').append(htmls);
                $('#rolename_edit').append(htmls);
                form.render('select'); //更新渲染下拉框
            },
            error: function(err) {
                layer.msg(err.statusText);
            }
        });

        // 搜索操作
        $('#search').click(function(d) {
            var param = {
                account: $('#s_account').val(),
                username: $('#s_username').val()
            };
            table.reload('currentTableId', {
                where: param
            }); //表格重载
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                $('#addform')[0].reset();
                $('#role').val(0);
                $('#sex').val(0);
                form.render(); //更新渲染

                layer.open({
                    btn: ['提交', '关闭'],
                    title: '添加用户',
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    area: ['500px', '600px'],
                    content: $('#addform'),
                    yes: function(index, layero) {
                        add(index);
                    }
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId'); //获取选中数据
                var str = '';
                batch_delete = [];
                $.each(checkStatus.data, function(i, item) {
                    if(item.id == 1) {
                        layer.msg('不允许删除admin');
                        return;
                    }
                    batch_delete.push(item.id);
                    str += item.username+",";
                });
                str = str.substring(0,str.length-1);
                layer.confirm('是否删除用户：'+str, function (index) {
                    deleted(batch_delete);
                    layer.close(index);
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                form.val("editform", {
                    "account_edit": data.account,
                    "username_edit": data.username,
                    "sex": data.sex,
                    "sex_hidden": data.sex,
                    "phone_edit": data.phone,
                    "email_edit": data.email,
                    "qq_edit": data.qq,
                    "rolename_edit": data.role_id,
                    "role_edit": data.role_id+","+data.role_name
                });
                form.render(); //更新渲染
                layer.open({
                    btn: ['提交', '关闭'],
                    title: '修改用户',
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    area: ['500px', '600px'],
                    content: $('#editform'),
                    yes: function(index, layero) {
                        update(index, data.account, data.id);
                    }
                });
            } else if (obj.event === 'delete') {
                if(data.id == 1) {
                    layer.msg('不允许删除admin');
                    return;
                }
                batch_delete = [data.id];
                layer.confirm('是否删除用户：'+data.username, function (index) {
                    deleted(batch_delete);
                    layer.close(index);
                });
            } else if(obj.event === 'reload') {
                layer.confirm('是否重置密码为123456', function (index) {
                    reloadPwd(data.id);
                    layer.close(index);
                });
            }
        });

        form.on('select(role)', function(data){
            if(data.value == 0) {
                $('#role').val(0);
            }else {
                $('#role').val(data.value+','+data.elem[data.elem.selectedIndex].text);
            }
        });

        //添加方法
        var add = function(index) {
            //简单验证
            var account = $('#account').val();
            if(!account) {
                layer.msg('请输入帐号');
                return;
            }
            var password = $('#password').val();
            if(!password) {
                layer.msg('请输入密码');
                return;
            }
            var username = $('#username').val();
            if(!username) {
                layer.msg('请输入用户名');
                return;
            }
            var role = $('#role').val();
            if(role == 0) {
                layer.msg('请选择角色');
                return;
            }
            //正则验证
            var phone = $('#phone').val();
            var email = $('#email').val();
            if(!checkForm(phone, email)) {
                return;
            }

            var param = {
                account: account,
                password: window.btoa(password),
                username: username,
                sex: $('#sex').val(),
                phone: phone,
                email: email,
                qq: $('#qq').val(),
                role: role,
            };
            $.ajax({
                url: '<{:url("useradd")}>',
                type: 'post',
                headers:{
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                data: param,
                success: function(res) {
                    $('meta[name="csrf-token"]').attr('content', res.data); //刷新令牌
                    if(res.code < 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功');
                        table.reload('currentTableId'); //表格重载
                        layer.close(index);
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
        //修改方法
        var update = function(index, account, id) {
            //简单验证
            var username = $('#username_edit').val();
            if(!username) {
                layer.msg('请输入用户名');
                return;
            }
            var role = $('#role_edit').val();
            if(role == 0) {
                layer.msg('请选择角色');
                return;
            }
            //正则验证
            var phone = $('#phone_edit').val();
            var email = $('#email_edit').val();
            if(!checkForm(phone, email)) {
                return;
            }

            var param = {
                id: id,
                account: account,
                username: username,
                sex: $('#sex_edit').val(),
                phone: phone,
                email: email,
                qq: $('#qq_edit').val(),
                role: role,
            };
            $.ajax({
                url: '<{:url("userupdate")}>',
                type: 'post',
                headers:{
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                data: param,
                success: function(res) {
                    $('meta[name="csrf-token"]').attr('content', res.data); //刷新令牌
                    if(res.code < 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功');
                        table.reload('currentTableId'); //表格重载
                        layer.close(index);
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
        //删除方法
        var deleted = function(id) {
            if(!id) {
                layer.msg('请选中用户进行删除');
                return;
            }
            var param = {
                id: id
            };
            $.ajax({
                url: '<{:url("userdelete")}>',
                type: 'post',
                data: param,
                success: function(res) {
                    if(res.code < 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功');
                        table.reload('currentTableId'); //表格重载
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
        //重置密码
        var reloadPwd = function(id) {
            var param = {
                id: id,
                password: window.btoa('123456')
            };
            $.ajax({
                url: '<{:url("userreload")}>',
                type: 'post',
                data: param,
                success: function(res) {
                    if(res.code < 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功');
                        table.reload('currentTableId'); //表格重载
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
        //验证方法
        var checkForm = function(phone, email) {
            if(phone && !(/^1[3456789]\d{9}$/.test(phone))){
                layer.msg('手机号码错误');
                return false;
            }
            if(email && !(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email))) {
                layer.msg('电子邮箱错误');
                return false;
            }
            return true;
        };
    });
</script>
<script>

</script>

</body>
</html>