<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <meta name="csrf-token" content="<{:token('__roletoken__')}>">
    <link rel="stylesheet" href="__STATIC__/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layuimini/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">

    <div class="layuimini-main">

        <blockquote class="layui-elem-quote">
            角色管理
        </blockquote>

        <div>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加角色 </button>
                </div>
            </script>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>

    <!----------------- 角色信息弹出层start ----------------->
    <form class="layui-form layuimini-form" id="addeditform" lay-filter="addeditform" style="display: none;margin: 10px 70px 0 5px;">
        <input type="hidden" id="id" name="id" value="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 80px !important;">父级角色</label>
            <div class="layui-input-block" style="margin-left: 110px !important">
                <select id="pidname" name="pidname" lay-filter="pidname">
                    <option value="0" selected>无</option>
                </select>
                <input type="hidden" id="pid" name="pid" value="0" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required" style="width: 80px !important;">角色名称</label>
            <div class="layui-input-block" style="margin-left: 110px !important">
                <input type="text" id="title" name="title" placeholder="请输入角色名称" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 80px !important;">权限选择</label>
            <div class="layui-input-block" style="margin-left: 110px !important">
                <input type="text" id="rule" name="rule" readonly class="layui-input" style="width: 77%;display: inline-block;">
                <a class="layui-btn" style="height: 39px;line-height: 39px;width: 21%;" id="openRule">选择</a>
            </div>
        </div>
    </form>
    <!----------------- 角色信息弹出层end ----------------->

    <!----------------- 选择权限弹出层start ----------------->
    <div id="ruleTree" class="demo-tree-more" style="display: none;"></div>
    <!----------------- 选择权限弹出层end ----------------->
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    {{# if(d.id !== 1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>

<script src="__STATIC__/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="__STATIC__/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'table', 'treetable', 'form', 'layer', 'tree'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable,
            form = layui.form,
            layer = layui.layer,
            tree = layui.tree;
        var menusListChoose;
        var checkMenusTitle = [];
        var checkMenusId = [];
        var checkMenusRoute = [];
        var updateMenusList = [];
        var selectRoleForMenusId = [];
        var getAllMenusList = [];
        var user_info = JSON.parse('<{$user}>');

        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: (user_info.role_id == 1) ? 0 : (user_info.role_pid == 0) ? user_info.role_id : user_info.role_pid,
            treeIdName: 'id',
            treePidName: 'pid',
            elem: '#munu-table',
            url: '<{:url("rolelist")}>',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'role_name', minWidth: 200, title: '角色名称'},
                {field: 'create_time', title: '创建时间'},
                {field: 'update_time', title: '修改时间'},
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
            ]],
            done: function (res, curr, count) {
                var htmls = '';
                $.each(res.data, function(i, item) {
                    htmls += '<option value = "' + item.id + '">' + item.role_name + '</option>'
                    selectRoleForMenusId[item.id] = item.menus_id;
                });
                $('#pidname').append(htmls);
                form.render('select'); //更新渲染下拉框
                $('#pidname').attr('disabled', 'disabled'); //禁用下拉框
                layer.closeAll('loading');
            }
        });

        //获取所有菜单列表
        $.ajax({
            url: '<{:url("rolemenuslist")}>',
            type: 'get',
            success: function(res) {
                menusListChoose = getAllMenusList = res;
            },
            error: function(err) {
                layer.msg(err.statusText);
            }
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(munu-table)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                $('#addeditform')[0].reset();
                $('#id').val('');
                //判断当前用户是否是超级管理员角色
                if(user_info.role_id != 1) {
                    form.val("addeditform", {
                        "pidname": user_info.role_id,
                        "pid": user_info.role_id
                    });
                }else {
                    form.val("addeditform", {
                        "pidname": 0,
                        "pid": 0
                    });
                }
                //判断当前用户是否是超级管理员角色，如果是那么可以列出全部权限，否则只列出父级拥有的权限
                if(user_info.role_id === 1) {
                    menusListChoose = getAllMenusList;
                }else {
                    menusListChoose = [];
                    listFirst(user_info.role_id);
                }

                form.render(); //更新渲染

                layer.open({
                    btn: ['提交', '关闭'],
                    title: '添加角色',
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    area: ['500px', '300px'],
                    content: $('#addeditform'),
                    yes: function(index, layero) {
                        add();
                    }
                });
            }
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layer.confirm('是否删除角色：' + data.role_name, {icon: 3, title:'提示'}, function(index){
                    $.ajax({
                        url: '<{:url("roledelete")}>',
                        type: 'post',
                        data: {
                            id: data.id,
                            pid: data.pid
                        },
                        success: function(res) {
                            if(res.code < 0) {
                                layer.msg('操作失败');
                            }else {
                                layer.msg('操作成功', {time:2000,shade:0.2} ,function() {
                                    window.location.reload();
                                });
                            }
                        },
                        error: function(err) {
                            layer.msg(err.statusText);
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                //判断当前用户是否是超级管理员角色或没有父级的角色，如果是那么可以列出全部权限，否则只列出父级拥有的权限
                if(data.id === 1 || data.pid === 0) {
                    menusListChoose = getAllMenusList;
                }else {
                    menusListChoose = [];
                    listFirst(data.pid);
                }

                updateMenusList = data.choose_menus_list_id;
                form.val("addeditform", {
                    "id": data.id,
                    "pidname": data.pid,
                    "pid": data.pid,
                    "title": data.role_name,
                    "rule": data.menus_title,
                });
                form.render(); //更新渲染

                layer.open({
                    btn: ['提交', '关闭'],
                    title: '修改角色',
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    area: ['500px', '300px'],
                    content: $('#addeditform'),
                    yes: function(index, layero) {
                        update();
                    }
                });
            }
        });

        $('#openRule').click(function() {
            var id = $('#id').val();
            tree.render({
                elem: '#ruleTree'
                ,data: menusListChoose
                ,showCheckbox: true  //是否显示复选框
                ,id: 'ruleTreeId'
                ,isJump: false //是否允许点击节点时弹出新窗口跳转
            });
            if(id) {
                //修改
                tree.setChecked('ruleTreeId', updateMenusList);
            }
            layer.open({
                btn: ['提交', '关闭'],
                title: '选择权限',
                type: 1,
                shade: 0.2,
                shadeClose: true,
                area: ['300px', '500px'],
                content: $('#ruleTree'),
                yes: function(index, layero) {
                    var checklist = tree.getChecked('ruleTreeId'); //获取选中节点的数据
                    $.each(checklist, function(i, item) {
                        checkMenusTitle.push(item.title);
                        checkMenusId.push(item.id);
                        if(item.href) {
                            checkMenusRoute.push(item.href);
                        }
                        if(item.children) {
                            ergodic(item.children);
                        }
                    });
                    $('#rule').val(checkMenusTitle.toString());
                    layer.close(index);
                }
            });
        });

        //递归遍历整理选中的菜单信息
        var ergodic = function(arr) {
            $.each(arr, function(i, item) {
                checkMenusTitle.push(item.title);
                checkMenusId.push(item.id);
                if(item.href) {
                    checkMenusRoute.push(item.href);
                }
                if(item.children) {
                    ergodic(item.children);
                }
            });
        };
        //递归遍历整理指定的菜单列表
        var listFirst = function(id) {
            $.each(selectRoleForMenusId[id], function(y, value) {
                $.each(getAllMenusList, function(i, item) {
                    if(value == item.id) {
                        if(item.children) {
                            var param = {
                                id: item.id,
                                pid: item.pid,
                                title: item.title,
                                href: item.href,
                                children: []
                            };
                            param.children = ergodicList(item.children, selectRoleForMenusId[id]);
                            menusListChoose.push(param);
                        }else {
                            menusListChoose.push(item);
                        }
                    }
                });
            });
        };
        var ergodicList = function(arr, rolemenus) {
            var child = [];
            $.each(rolemenus, function(y, value) {
                $.each(arr, function(i, item) {
                    if(value == item.id) {
                        if(item.children) {
                            var param = {
                                id: item.id,
                                pid: item.pid,
                                title: item.title,
                                href: item.href,
                                children: []
                            };
                            param.children = ergodicList(item.children, rolemenus);
                            child.push(param);
                        }else {
                            child.push(item);
                        }
                    }
                });
            });
            return child;
        };

        //添加方法
        var add = function() {
            var title = $('#title').val();
            if(!title) {
                layer.msg('角色名称不能为空');
                return;
            }
            if(!checkMenusId && !checkMenusTitle) {
                layer.msg('请选择对应的权限');
                return;
            }
            var param = {
                pid: $('#pid').val(),
                role_name: title,
                role_permission: checkMenusRoute,
                role_menus_id:checkMenusId
            };

            $.ajax({
                url: '<{:url("roleadd")}>',
                type: 'post',
                headers:{
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                data: param,
                success: function(res) {
                    if(res.code != 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功', {time:2000,shade:0.2} ,function() {
                            window.location.reload(); //因为树形表格没有自动刷新功能，只能通过页面刷新来控制新token
                        });
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
        //修改方法
        var update = function() {
            var id = $('#id').val();
            var title = $('#title').val();
            if(!id) {
                layer.msg('提交错误');
                return;
            }
            if(!title) {
                layer.msg('角色名称不能为空');
                return;
            }
            if(!checkMenusId && !checkMenusTitle) {
                layer.msg('请选择对应的权限');
                return;
            }
            var param = {
                id: id,
                pid: $('#pid').val(),
                role_name: title,
                role_permission: checkMenusRoute,
                role_menus_id:checkMenusId
            };

            $.ajax({
                url: '<{:url("roleupdate")}>',
                type: 'post',
                headers:{
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                data: param,
                success: function(res) {
                    if(res.code != 0) {
                        layer.msg('操作失败');
                    }else {
                        layer.msg('操作成功', {time:2000,shade:0.2} ,function() {
                            window.location.reload(); //因为树形表格没有自动刷新功能，只能通过页面刷新来控制新token
                        });
                    }
                },
                error: function(err) {
                    layer.msg(err.statusText);
                }
            });
        };
    });
</script>
</body>
</html>